<!doctype html>
<html lang="id">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Manajemen Bimbel{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
  <a class="brand" href="/">📚 BimbelKu</a>
  <a href="/" class="{% if aktif=='dash' %}on{% endif %}">Dashboard</a>
  <a href="/jadwal" class="{% if aktif=='jadwal' %}on{% endif %}">Jadwal</a>
  <a href="/sesi" class="{% if aktif=='sesi' %}on{% endif %}">Sesi</a>
  <a href="/tutor" class="{% if aktif=='tutor' %}on{% endif %}">Tutor</a>
  <a href="/siswa" class="{% if aktif=='siswa' %}on{% endif %}">Siswa</a>
</nav>
<main>{% block content %}{% endblock %}</main>
{% block script %}{% endblock %}
</body>
</html>
